snippet cl "console log" !b
console.log($1);$0
endsnippet

snippet cle "console error" !b
console.error($1);$0
endsnippet

snippet db "debugger" !b
debugger;
endsnippet

snippet cld "console log and debugger" !b
console.log($1);
debugger;$0
endsnippet
