snippet cl "console log" !b
console.log($1);$0
endsnippet

snippet cle "console error" !b
console.error($1);$0
endsnippet

snippet db "debugger" !b
debugger;
endsnippet

snippet cld "console log and debugger" !b
console.log($1)
debugger$0
endsnippet

snippet stack "stack trace" !b
console.log("\n-------------- STACK TRACE: ${1}-------------\n", (new Error()).stack, "\n-------------- !STACK TRACE -------------\n");
endsnippet
